.avatar {
  max-width: 256px;
  max-height: 256px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.user {
  display: flex;
  flex-direction: column;
  flex: 0 0 256px;
}

@media screen and (max-width: 768px) {
  .avatar {
    max-width: 128px;
    max-height: 128px;
  }
}

@media screen and (max-width: 768px) {
  .user {
    flex: 0 0 128px;
    flex-direction: row;
  }
}
