.header {
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
}

.spinner {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 10px;
  height: max-content;
  width: 100%;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  border-radius: 10px;
}
