.header {
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
}

/* #custom-scrollbar{
  &::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--menu-bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--menu-bg);
    border-radius: 20px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #666666;
  }
} */
