@import '../styles/variables.css';

p {
  color: var(--color-text);
}

body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: var(--custom-scrollbar-bg-track);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--custom-scrollbar-bg-thumb);
  border-radius: 20px;
}
